*-init.clj
*.class
*.log
.DS_Store
.cljs_node_repl/
.cpcache/
.hg/
.hgignore
.idea
.nrepl-port
.rebel_readline_history
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
out
pom.xml
pom.xml.asc
target
tmp/
.clj-kondo/.cache/
test/org_crud/*.org
