{:path ["src"]

 :deps
 {babashka/fs           {:mvn/version "0.4.19"}
  babashka/process      {:mvn/version "0.5.21"}
  wing/wing             {:mvn/version "0.1.4"}
  metosin/malli         {:mvn/version "0.11.0"}
  instaparse/instaparse {:mvn/version "1.4.12"}
  tick/tick             {:mvn/version "0.6.2"}}

 :aliases
 {:dev {:jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :extra-paths ["test"]
        :extra-deps
        {org.clojure/test.check {:mvn/version "1.1.1"}}}

  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.1"}
    lambdaisland/kaocha    {:mvn/version "1.85.1342"}}}

  :nrepl {:extra-deps
          {cider/cider-nrepl             {:mvn/version "0.31.0"}
           refactor-nrepl/refactor-nrepl {:mvn/version "3.7.1"}}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1095"}}
             :main-opts  ["-m" "antq.core"]}}}
