{:path ["src"]

 :deps
 {org.clojars.gmorpheme/organum {:mvn/version "0.1.1"}
  #_#_clomacs/clomacs           {:mvn/version "0.0.4-SNAPSHOT"}
  babashka/fs                   {:mvn/version "0.1.11"}
  babashka/process              {:mvn/version "0.2.10"}
  wing/wing                     {:mvn/version "0.1.4"}

  metosin/malli    {:mvn/version "0.8.9"}
  org.babashka/cli {:mvn/version "0.4.37"}}

 :aliases
 {:dev {:jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :extra-paths ["test"]
        :extra-deps
        {org.clojure/test.check {:mvn/version "1.1.1"}
         tick/tick              {:mvn/version "0.5.0-RC5"}}}

  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.1"}
    ;; TODO update code per new tick version!!
    tick/tick              {:mvn/version "0.5.0-RC5"}
    wing/wing              {:mvn/version "0.1.4"}
    lambdaisland/kaocha    {:mvn/version "1.70.1086"}}}

  :nrepl {:extra-deps
          {cider/cider-nrepl             {:mvn/version "0.28.6"}
           refactor-nrepl/refactor-nrepl {:mvn/version "3.5.5"}}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.1.927"}}
             :main-opts  ["-m" "antq.core"]}}}
