{:path ["src"]

 :deps
 {org.clojars.gmorpheme/organum {:mvn/version "0.1.1"}
  clomacs/clomacs               {:mvn/version "0.0.4-SNAPSHOT"}
  babashka/fs                   {:mvn/version "0.1.4"}
  babashka/process              {:mvn/version "0.1.1"}
  }

 :aliases
 {:dev {:jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :extra-paths ["test"]
        :extra-deps
        {org.clojure/test.check {:mvn/version "1.1.1"}
         tick/tick              {:mvn/version "0.5.0-RC5"}
         wing/wing              {:mvn/version "0.1.4"}
         clj-commons/fs         {:mvn/version "1.6.310"}}}

  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.1"}
    ;; TODO update code per new tick version!!
    tick/tick              {:mvn/version "0.5.0-RC5"}
    wing/wing              {:mvn/version "0.1.4"}
    clj-commons/fs         {:mvn/version "1.6.310"}
    lambdaisland/kaocha    {:mvn/version "1.63.998"}}}

  :nrepl {:extra-deps
          {cider/cider-nrepl             {:mvn/version "0.28.3"}
           refactor-nrepl/refactor-nrepl {:mvn/version "3.4.1"}}}}}
